<h1>Contacts</h1>

<% if not @contacts.empty? %>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>

  <% @contacts.each do |contact| %>
    <tr id="<%=dom_id(contact) %>">
      <td><%= link_to contact.name, contact %></td>
      <td><%= contact.email %></td>
      <% if can? :manage, contact %>
        <td class="controls"><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td class="controls"><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% else %>
  <p>
    No contacts found.
  </p>
<% end %>

<% if can? :create, Contact %>
  <p class="controls">
    <%= link_to 'New Contact', new_contact_path %>
  </p>
<% end %>