<h1><%= @contact.name %></h1>

<p>
  <%= @contact.email %>
</p>

<% unless @contact.phones.empty? %>
  <h2>Phones</h2>

  <ul>
    <% @contact.phones.each do |phone| %>
      <li>
        <%= phone.phone_type %>
        <%= phone.phone %>
      </li>
    <% end %>
  </ul>
<% end %>

<p class="controls">
  <% if can? :edit, @contact %>
    <%= link_to 'Edit', edit_contact_path(@contact) %> |

  <% end %>
  <%= link_to 'Back', contacts_path %>
</p>