<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="account" style="text-align:right">
    <% if not current_user %>
      <%= link_to 'Log In', new_session_path %>
    <% else %>
      <%= link_to 'Toggle Admin', '#', id: 'toggler', onclick: 'return false;' %> |
      <% if can? :manage, User %>
        <%= link_to 'Users', users_path %> |
      <% end %>
      <%= link_to 'Log Out', logout_path %>
    <% end %>
  </div>

  <div id="navigation">
    <% ('A'..'Z').each do |letter| %>
      [<%= link_to_unless_current letter, contacts_path(letter: letter) %>]
    <% end %>
    [<%= link_to 'All', contacts_path %>]
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

  <%= yield %>

</body>
</html>
